/* Wrapper */
html {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #aa0000;
}
/*#page-wrap {
  height: 30em;
  width: 70%;

  margin: 30px auto;
}*/
#game-wrap {
  height: 500px;
  width: 700px;
  border: 1px solid black;
  margin: 30px auto;
  background-color: white;
}
#ship {
  margin: 0 auto;
}
































/*Cirlce 1 Styling */

/*.circle {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50px;
  position: relative;
}



}*/